<!--<footer class="footer text-xs-center">-->
<!--  <p class="text-muted">-->
<!--    <small>&copy; 2020 by Alessandro Molinaro</small>-->
<!--  </p>-->
<!--  <p class="text-muted">-->
<!--    <a href="#"><small>Termini &amp; Condizioni</small> </a>-->
<!--  </p>-->
<!--</footer>-->
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted mr-2">&copy; 2020 by Alessandro Molinaro</span>
    <span class="text-muted"><a style="color: dodgerblue">Termini &amp; Condizioni</a></span>
  </div>
</footer>
