.card{
  margin: 10px;
  border-radius: 15px;
}

.btn{
  border-radius: 20px;
  color: dodgerblue;
  background-color: #F1F1F1;
}

#scrivi-commento{
  margin: auto;
  width: 600px;
}

#commento{
  margin: auto;
  width: 600px;
}
.textarea{
  border-radius: 10px;
}
