.card{
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-body{
 padding: 5px;
}
.form-control{
  border-color: aliceblue;
}

.btn{
  border-radius: 20px;
}
